<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter location to get started!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <table>
            <tr>
                <td rowspan = 2><img id = "img-1"></td>
                <td><p id="message-1"></p></td>
            </tr>
            <tr>
                <td><p id="message-2"></p></td>
            </tr>
        </table>      
        
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>